<div class="container mt-5">

    <!-- show errormsg -->
    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ errormsg }}</strong>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- show successmsg -->
      <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ successmsg }}</strong>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <form [formGroup]="userForm" (ngSubmit)="userSubmit()" >

        <div class="form-group">
            <label>Full Name</label>
            <input class="form-control" type="text" formControlName="FullName" placeholder="Enter your Full Name">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" formControlName="email"  placeholder="Enter your Email">
        </div>

        <div class="form-group">
            <label>Mobile Number</label>
            <input class="form-control" type="text" formControlName="mobile"  placeholder="Enter your Mobile Number">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>

    </form>

</div>

